.header-container {
  position: absolute;
  z-index: -1;
  top: 5rem;
  display: flex;
  width: 93%;
  height: 18vh;
  background-color: $color-white;
  box-shadow: 0 .1rem .2rem rgba($color-black,.2);
}

.header__text--name {
  font-size: 5rem;

}

.header__text--portfolio {
  font-size: 4rem;
}
