.header {
  display: flex;
  box-shadow: 0 .3rem .5rem rgba($color-black, .15);
  padding: 1rem;
  background-color: $color-white;

}

.header__text {
  text-align: center;
  width: 100%;
  height: 2rem;
  text-decoration: none;
  color: $color-grey-dark;

  font-size: 1.6rem;
  letter-spacing: .7rem;

  &:hover {
    text-shadow: 0 .3rem .5rem rgba($color-black, .15);
  }
}
